.container {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-style: oblique;
}

h2 {
  text-decoration: underline;
}

#add-task {
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  display: inline-table;
}

#new_task {
  margin: 0 0 10px 0;
}

#task-submit {
  font-size: 12px;
  border-radius: 6px;
  background-color: white;
  color: black;
  border: 1px solid blue;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 5px 0 5px 0;
}

#task-submit:hover {
  background-color: blue;
  color: white;
}

.update {
  font-size: 12px;
  border-radius: 6px;
  background-color: white;
  color: black;
  border: 1px solid green;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 5px 5px 5px 5px;
}

.update:hover {
  background-color: green;
  color: white;
}

.delete {
  font-size: 12px;
  border-radius: 6px;
  background-color: white;
  color: black;
  border: 1px solid red;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.delete:hover {
  background-color: red;
  color: white;
}
